*.dds
*.bin
*.cast
*.gltf
*.ma
*.ascii
*.obj
*.semodel
*.XMODEL_BIN
*.XMODEL_EXPORT
*.mel
*.mtl
*.txt
*.blend1
/.Workfiles-Blueprint/M4 - V04 - Carmine Carbine
/.Workfiles-Blueprint/M4 - V06 - Short Fuse
/.Workfiles/Ammunition new
*.mp4
/.Workfiles/Bruen P890
/.Workfiles-Blueprint
/.Workfiles/MTZ762/JAK Heretic Carbine Kit - V000 - Standard
/.Workfiles/MTZ762/MTZ-762 - V000 - Standard
