*.dds
*.bin
*.cast
*.gltf
*.ma
*.ascii
*.obj
*.semodel
*.XMODEL_BIN
*.XMODEL_EXPORT
*.mel
*.mtl
*.txt
*.blend1
/.Workfiles-Blueprint/M4 - V04 - Carmine Carbine
/.Workfiles-Blueprint/M4 - V06 - Short Fuse
/.Workfiles/Ammunition new
*.mp4
/.Workfiles-Blueprint
/.Workfiles/MTZ762/JAK Heretic Carbine Kit - V000 - Standard
/.Workfiles/MTZ762/MTZ-762 - V000 - Standard
/.Workfiles/ATTS/Muzzles/Echoline GS-X Supressor AR
/.Workfiles/ATTS/Muzzles/FSS Covert V Supressor
/.Workfiles/ATTS/Muzzles/Silentfire XG6 Supressor
/.Workfiles/ATTS/Optics/Aim Op-V4
/.Workfiles/ATTS/Optics/SZ Lonewolf Holographic
/.Workfiles/ATTS/Optics/SZ Recharge-DX Reflex
/.Workfiles/ATTS/Tacs/SZ 1MW PEQ Laser
/.Workfiles/M16 - V00 - Standard
/.Workfiles/MTZ762/xmaterial_c8800564697e3ff
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_barlight_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_barlong_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_barrel_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_grip_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_hammer_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_mag_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_pstlgrp_tac_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_rec_v0
/.Workfiles/Bruen P890/att_vm_p27_pi_papa220_xmag_v0
